/* BEGIN HOME CSS */

body {
  background-color: rgb(44, 83, 44);
  background-position: center;
  background-size: cover;
}

/*NAME*/
#name {
  color: white;
  text-align: center;
  font-family: Urbanist;
  font-size: 50px;
  font-weight: lighter;
  justify-content: center;
}

.hr {
  color: white;
  size: 1px;
}

/* NAVBAR */
.navbar {
  background-color: rgba(0, 0, 0, 0.116); /* background color for visibility */
  padding: 8px 0;
}

/*POSITIONING AND FORMATTING OF NAVBAR ITEMS*/
.navbar ul {
  list-style-type: none; /* no bullet points */
  padding: 0;
  margin: 0;
  display: flex; /* Use flexbox for layout */
  justify-content: center; /* Center items */
  flex-wrap: wrap; /* enable wrapping */
}

.navbar li {
  position: relative;
  margin: 0 15px; /* Space between items */
}

.navbar li a {
  display: block;
  font-family: "Urbanist";
  font-size: 20px;
  color: white; /* Text color */
  text-align: center;
  padding: 10px 16px; /* Spacing around links */
  text-decoration: none; /* Remove underline from links */
  transition: color 0.3s; /* Smooth transition for hover effect */
}

.navbar li a:hover {
  color: lightgreen;
}

.navbar li a::after {
  content: ""; /* Required for the pseudo-element */
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: lightgreen; /* Color of the underline */
  transform: scaleX(0); /* Start with no width */
  transition: transform 0.3s ease; /* Smooth transition for the width */
}

.navbar li a:hover::after {
  transform: scaleX(1); /* Expand to full width on hover */
}

/*BLOG FORMATTING*/
.blogs {
  text-align: center;
  max-width: 700px;
  margin: 10px auto;
}

.blog-description {
  background-color: rgba(36, 67, 36, 0.319);
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 20px;
  transition: background-color 0.5s;
}

.blog-description:hover {
  background-color: rgb(36, 67, 36);
}

.post-links {
  color: rgb(136, 238, 150);
  font-family: "Urbanist";
  font-size: 24px;
  font-weight: light;
  text-align: center;
  text-decoration: none;
  transition: color 0.3s;
}

.blog-description p {
  color: rgb(134, 206, 144);
  font-family: "Urbanist";
  font-size: 20px;
  text-align: center;
  font-weight: lighter;
}

.post-links:hover {
  color: whitesmoke;
}

/*TROUBLESHOOT*/
/*BLOG TEXT*/

/* FOOTER */
footer {
  text-align: center;
  font-family: "Urbanist";
  color: gainsboro;
  padding-top: 20rem;
}
