/*BEGIN HOME CSS*/

body {
  background-image: url(images/table4blur.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Navbar*/
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 38%;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  font-family: Comfortaa;
  font-size: 20px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}
/*end Navbar*/

.name {
  color: white;
  text-align: center;
  font-family: Comfortaa;
  font-size: 70px;
  font-weight: 900;
  padding-top: 10%;
  position: absbolute;
  backdrop-filter: blur(50px);
}


hr {
  color: white;
  size: 1px;
}

.caption {
  color: white;
  text-align: center;
  font-family: Comfortaa;
  font-size: 30px;
  font-weight: lighter;
  white-space: pre;
  padding-top: 10px;
}

.contact {
  color: white;
  text-align: center;
  font-family: Comfortaa;
  font-size: 20px;
  font-weight: lighter;
  white-space: pre;
  padding-top: 0px;
}

footer {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: gainsboro;
  padding-top: 375px;
}




/*BEGIN PORTFOLIO CSS*/

 /* .pbg {
    background-color: lightgoldenrodyellow;
  }

  #hl {
    margin-top: 10px;
    border-radius: 10px;
    width: 100%;
  }

  #th {
    border-radius: 10px;
    width: 100%;
  }

  #hp {
    border-radius: 10px;
    width: 100%;
  }

  .imgcap {
    text-align: center;
    font-family: "Comfortaa", cursive;
    padding: 13px;
    font-size: 20px;
    background-color: white;
  }


  /*  height: auto;
  background-color: lightgoldenrodyellow;*/