
.main {
    text-align: center;
    font-family: 'Tangerine', cursive;
    font-weight: bolder;
    font-size: 70px;
    font-weight: 800;
    color: brown;
}

.p {
    border: 30px;
    border-color: white;
}
.body {
  /*background-image: url("images/table3.jpg");*/
  height: auto;
  background-color: lightgoldenrodyellow;
}

.bg {
 /* The image used */ 
 /* Full height */
 /*height: auto;*/
 width: 100%;
 position: static;
 height: 1900px;
 /* Center and scale the image nicely */
 background-position: center;
 background-repeat: no-repeat;
 background-size: contain;
 filter: blur(10px);
}
/*navbar*/

.swirl {
  float: right;
  margin-right: 10px;
  margin-top: 6px;
  height: 50px;
  display: flex;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #663300;
    border-radius: 10px;
    text-align: center;
  }
    li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 15px;
    text-decoration: none;
    margin-left: 20px;
    font-size: 20px;
    font-family:'Comfortaa', cursive;
  }
  
  /* Change the link color to #331a00 (black) on hover */
  li a:hover {
    background-color: #331a00;
  }

  .heading {
    text-align: center;
  }

  
  .para {
   position: absolute;
   text-align:  justify;
   padding: 45px;
   border-radius: 10px;
   word-spacing: 0.5px;
   line-height: 20px;
   background-color: lightgray;
   border: 3px solid lightgray;
   font-family: "Comfortaa", cursive;
   width: 800px;
   height: 1400px;
   opacity: .75;
   top: 35%;
   left: 25%;
  
  }  

  /*BEGIN PORTFOLIO CSS*/

  .pbg {
    background-color: lightgoldenrodyellow;
  }

  #hl {
    margin-top: 10px;
    border-radius: 10px;
    width: 100%;
  }

  #th {
    border-radius: 10px;
    width: 100%;
  }

  #hp {
    border-radius: 10px;
    width: 100%;
  }

  .imgcap {
    text-align: center;
    font-family: "Comfortaa", cursive;
    padding: 13px;
    font-size: 20px;
    background-color: white;
  }