/*BEGIN HOME CSS*/

body {
  /*background-image: url(images/table4blur.jpg);*/
  background-color: brown;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Navbar*/
ul {
  list-style-type: none;
  overflow: hidden;
  position: sticky;
  font-family: Comfortaa;
  font-size: 20px;
  display: flex;
  list-style-type: none;
  justify-content: center;
  flex-wrap: wrap;
}

li {
  float: center;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}
/*end Navbar*/

#name {
  color: white;
  text-align: center;
  font-family: Comfortaa;
  font-size: 70px;
  font-weight: 900;
  padding-top: 200px;
  justify-content: center;
}

.hr {
  color: white;
  size: 1px;
}

.caption {
  padding-top: 30px;
  color: white;
  list-style-type: none;
  overflow: hidden;
  position: sticky;
  width: 100%;
  font-family: Comfortaa;
  font-size: 35px;
  display: flex;
  list-style-type: none;
  justify-content: center;
  flex-wrap: wrap;
}

.contact {
  white-space: pre;
  padding-top: 30px;
  color: white;
  list-style-type: none;
  overflow: hidden;
  position: sticky;
  font-family: Comfortaa;
  font-size: 20px;
  display: flex;
  list-style-type: none;
  justify-content: center;
  flex-wrap: wrap;
}

footer {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: gainsboro;
  padding-top: 250px;
}
